#player {
    text-align: center;
    margin-top: 50px;
  }
  
  #controls {
    margin-bottom: 10px;
  }
  
  #progress-container {
    width: 80%;
    margin: 0 auto;
    background-color: #eee;
    height: 10px;
  }
  
  #progress-bar {
    background-color: #4CAF50;
    height: 100%;
    width: 0%;
  }
  
  #lyrics-container {
    margin-top: 20px;
  }
  
  #lyrics {
    font-size: 24px;
    font-weight: bold;
    animation: moveLyrics 3s linear infinite;
  }
  
  @keyframes moveLyrics {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  